//colors
$background-color: hsla(197, 100%, 5%, 1);
$accent-color: hsla(174, 46%, 48%, 1);
$image-background-color: hsla(174, 47%, 48%, 0.5);
$dark-text-color: hsl(0, 0%, 100%);
$light-text-color: hsl(0, 0%, 0%);
