//global
$heading-font-size-sm: 1.6rem;
$heading-font-size-md: 2.2rem;
$heading-font-size-lg: 2.6rem;
$heading-font-size-xl: 3rem;

//nav
$nav-font-size-sm: 0.8rem;
$nav-font-size-md: 1rem;
$nav-font-size-lg: 1.4rem;
$nav-font-size-xl: 1.8rem;

//hero
$hero-title-font-size-sm: 2rem;
$hero-title-font-size-md: 2.2rem;
$hero-title-font-size-lg: 2.6rem;
$hero-title-font-size-xl: 3rem;

$hero-text-font-size-sm: 1rem;
$hero-text-font-size-md: 1.2rem;
$hero-text-font-size-lg: 1.3rem;
$hero-text-font-size-xl: 1.8rem;

//about
$about-text-font-size-sm: 1rem;
$about-text-font-size-md: 1.2rem;
$about-text-font-size-lg: 1.4rem;
$about-text-font-size-xl: 1.6rem;

$about-text-line-height-sm: 1.2rem;
$about-text-line-height-md: 1.5rem;
$about-text-line-height-lg: 1.7rem;
$about-text-line-height-xl: 2rem;

//projects
$project-title-font-size-sm: 1.5rem;
$project-title-font-size-md: 2.2rem;
$project-title-font-size-lg: 2.2rem;
$project-title-font-size-xl: 3rem;

$project-description-font-size-sm: 0.9rem;
$project-description-font-size-md: 1.2rem;
$project-description-font-size-lg: 1.2rem;
$project-description-font-size-xl: 1.5rem;

$project-status-font-size-sm: 0.9rem;
$project-status-font-size-md: 1.2rem;
$project-status-font-size-lg: 1.2rem;
$project-status-font-size-xl: 1.5rem;

$project-builtwith-label-font-size-sm: 0.9rem;
$project-builtwith-label-font-size-md: 1.2rem;
$project-builtwith-label-font-size-lg: 1.2rem;
$project-builtwith-label-font-size-xl: 1.5rem;

$project-stack-label-font-size-sm: 0.9rem;
$project-stack-label-font-size-md: 1.4rem;
$project-stack-label-font-size-lg: 1.4rem;
$project-stack-label-font-size-xl: 1.7rem;

$project-img-links-font-size-sm: 0.9rem;
$project-img-links-font-size-md: 1.2rem;
$project-img-links-font-size-lg: 1.2rem;
$project-img-links-font-size-xl: 1.8rem;

//contact
$contact-description-font-size-sm: 1rem;
$contact-description-font-size-md: 1.2rem;
$contact-description-font-size-lg: 1.3rem;
$contact-description-font-size-xl: 1.5rem;

$contact-form-label-font-size-sm: 1.1rem;
$contact-form-label-font-size-md: 1.3rem;
$contact-form-label-font-size-lg: 1.2rem;
$contact-form-label-font-size-xl: 1.4rem;

$contact-btn-font-size-sm: 1rem;
$contact-btn-font-size-md: 1.2rem;
$contact-btn-font-size-lg: 1.4rem;
$contact-btn-font-size-xl: 1.6rem;
