//hero social icon properties
$hero-icon-height-sm: 15px;
$hero-icon-height-md: 25px;
$hero-icon-height-lg: 35px;
$hero-icon-height-xl: 40px;

//hero resume btn properties
$hero-btn-height-sm: 35px;
$hero-btn-height-md: 45px;
$hero-btn-height-lg: 55px;
$hero-btn-height-xl: 75px;

//tech stack icon properties
$tech-stack-icon-height-sm: 27px;
$tech-stack-icon-height-md: 47px;
$tech-stack-icon-height-lg: 47px;
$tech-stack-icon-height-xl: 47px;

$tech-stack-icon-spacing-sm: 5px;
$tech-stack-icon-spacing-md: 10px;
$tech-stack-icon-spacing-lg: 10px;
$tech-stack-icon-spacing-xl: 10px;

//contact form submit btn
$contact-btn-height-sm: 2.2rem;
$contact-btn-height-md: 2.2rem;
$contact-btn-height-lg: 2.2rem;
$contact-btn-height-xl: 2.2rem;
