//hero-img
$img-size-sm: 230px;
$img-size-md: 250px;
$img-size-lg: 270px;
$img-size-xl: 350px;

//hero-img-background
$image-background-offset-sm: 20px;
$image-background-offset-md: 25px;
$image-background-offset-lg: 30px;
$image-background-offset-xl: 35px;

$image-background-padding-sm: 23px;
$image-background-padding-md: 25px;
$image-background-padding-lg: 27px;
$image-background-padding-xl: 40px;

//project-preview-img
$project-img-height-sm: 167px;
$project-img-height-md: 280px;
$project-img-height-lg: 322px;
$project-img-height-xl: 366px;

$project-img-width-sm: 343px;
$project-img-width-md: 573px;
$project-img-width-lg: 660px;
$project-img-width-xl: 750px;
