@use "../../../helpers/variables" as *;
@use "../../../helpers/mixins" as *;

.project,
.project-flipped {
  &_title {
    margin: 10px 0;
    font-size: $project-title-font-size-sm;
    text-decoration: underline;

    @include md {
      font-size: $project-title-font-size-md;
    }
    @include lg {
      font-size: $project-title-font-size-lg;
    }
    @include xl {
      font-size: $project-title-font-size-xl;
    }
  }
}
