@use "../../helpers/variables" as *;
@use "../../helpers/mixins" as *;

.contact {
  &-left {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include lg {
      width: 50%;
    }
  }
  &_heading {
    align-self: center;
    @include lg {
      align-self: flex-start;
      margin-bottom: 1rem;
    }
  }
  &_description {
    font-size: $contact-description-font-size-sm;
    margin-bottom: 1rem;

    @include md {
      font-size: $contact-description-font-size-md;
    }
    @include lg {
      font-size: $contact-description-font-size-lg;
    }
    @include xl {
      font-size: $contact-description-font-size-xl;
    }
  }
}
