@use "../../helpers/variables" as *;

.projects {
  height: min-content;
  color: $dark-text-color;

  .container {
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
